<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224772750669-4u9fhbte8s8vsb0vd0lk65rl7chj3c91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224772750669-4u9fhbte8s8vsb0vd0lk65rl7chj3c91</string>
	<key>API_KEY</key>
	<string>AIzaSyAczz1jHJPMvvUac99dHnDBt-ouGtMWrNA</string>
	<key>GCM_SENDER_ID</key>
	<string>224772750669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppinglista</string>
	<key>PROJECT_ID</key>
	<string>shoppinglista-72e1e</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglista-72e1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224772750669:ios:feb9c5874b8aa7290c4b04</string>
</dict>
</plist>